* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-x: hidden;
  }


  .desktop1
  {
    width:100%;
    height:739px;
    position: relative;
    background-color: rgb(25, 10, 2);
  }

 .homepage {
    
    width: 100%;
    height: 551px;
    position: absolute;
    top: 120px;
    opacity: 0.5;
  }
  

 .search{
  padding-right: 5%;
  padding-left: 0.3%;
  top:3.9%;
  right: 15%;
  background-color: rgb(25, 10, 2);
 border-color: white;
 color: rgb(255, 255, 255);
  width: 165px;
  height: 42px;
  border-width: 1px;
  /*brdwt*/
  /*button effects*/
  border-radius: 21px;
  position: absolute;
  cursor: pointer;
 }
 .search-bar {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  background: transparent;
  color: white;
  width: 200px;
}

.search-bar::placeholder {
  color: #f3e1dc;
}

 .menu{
  top:3.89%;
  right: 5%;
  cursor: pointer;
  background-color: rgb(189, 214, 159);
 
 color: rgb(25, 10, 2);
 border-width: 0.1px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 300;
  width: 139px;
  height: 45px;
  border-radius: 21.5px;
  position:absolute;
 
 }
  

 .experience-text {
    width: 339px;
    height: 47px;
    position: absolute;
    top: 34px;
    left: 115px;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.community-text {
    width: 523px;
    height: 87px;
    position: absolute;
    top: 350px;
    left: 515px;
    text-align: center;
    color: #BDBFA9;
    font-size: 23px;
    font-family: Cormorant, serif;
    font-weight: 100;
    letter-spacing: 0px;

}

.connect-text {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 390px;
    left: 315px;
    text-align: center;
    color: #BDBFA9;
    line-height: 0.1;
    font-size: 73px;
    font-family: Poiret One, cursive;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: 3px;
      line-height: 1.18790}